*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
}
body{
    background-color: black;
    overflow: hidden;
    
}
.container{
    position: absolute;
    width:100%;
    height:100vh;
    background: radial-gradient(blue,black)
}

.container #scene .layer{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
}

.container #scene .layer img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    
}
#parallax{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../../../Controller/content/images/star.png);
    z-index: 0;
    object-fit: fill;
    transform: perspective(50px);
    

}

#parallax_cloud {
    position: absolute;
    width: 100%;
    height: 100vh;
    animation-name: cloud;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    
  }

  @keyframes cloud{
      from{transform: translate(-400px)}
        to{transform: translate(1600px)} 
  }

  #parallax_bird {
    position: absolute;
    width: 100%;
    height: 100vh;
    animation-name: bird;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    
  }

  @keyframes bird{
    from{transform: translate(-800px)}
      to{transform: translate(1700px)}
}

  #parallax_cloud img{
 
    width: 20%;
    height: 20%; 
    margin-left: 300px;
    

  }

  #parallax_bird img{
      width: 20%;
      height: 20%;
      margin: 200px;
      
  }

 #people{
     position: absolute;
     max-width: 900vw;
     z-index: 9;
     bottom: 130px;
     left: calc((30%)/2);
     display: inline-flex;
 } 

 #people img{
    height: 30vh;
    width: 15vw;
 }
 #people img:hover{
    height: 40vh;
    width: 20vw; 
    transition: all ease 1600ms;
    transform-style: preserve-3d;
 }





#middle, #bottom{
    position:absolute;
    width: 100%;
}
#top{
    z-index: 1;
    max-height: 200px;
    position: absolute;
    top: 20px;
}

#middle{
 z-index: -1;
 height: 100vh;

}



#bottom{
    position: absolute;
    z-index: 1;
    max-height: 500px;
    bottom: 0px;
    
}

.text{
    color: white;
    font-family: sans-serif, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    
}